/*

    Info:     Mockup styles
    ------------------------------
    Author:   Andy Chung
    ------------------------------
    Date:     July, 2011
      
*/


#wrapper .mobile {
    height: 480px;
}

#wrapper #compose {
    position: absolute;
    bottom: 0;
    width: 100%;
}
