/*

    Info:     Mockup styles
    ------------------------------
    Author:   Andy Chung
    ------------------------------
    Date:     July, 2011
      
*/


#wrapper .mobile {
    height: 480px;
}